In [1]:
import pandas as pd
df = pd.read_json('sample.json')
df.columns

Index([u'Thread'], dtype='object')

In [2]:
from pandas.io.json import json_normalize
import json
json_data=open('sample.json').read()
data = json.loads(json_data)
result = json_normalize(data,'Thread')
result.head()

,@THREAD_SEQUENCE,RelComment,RelQuestion
0,Q268_R16,"[{u'@RELC_USERID': u'U65', u'@RELC_USERNAME': ...","{u'RelQSubject': u'Best Bank.', u'@RELQ_DATE':..."
1,Q269_R3,"[{u'@RELC_USERID': u'U2984', u'@RELC_USERNAME'...",{u'RelQSubject': u'Where is the best place to ...
2,Q269_R7,"[{u'@RELC_USERID': u'U51', u'@RELC_USERNAME': ...",{u'RelQSubject': u'what is the best beach plac...
3,Q269_R10,"[{u'@RELC_USERID': u'U309', u'@RELC_USERNAME':...",{u'RelQSubject': u'Best Places to live in in D...
4,Q269_R26,"[{u'@RELC_USERID': u'U535', u'@RELC_USERNAME':...",{u'RelQSubject': u'Where is the best place in ...

In [4]:
res_fil = result[ result['@THREAD_SEQUENCE'] == 'Q268_R16' ]
res_ans = json_normalize(res_fil['RelComment'][0])
res_ques = json_normalize(res_fil['RelQuestion'][0])

In [5]:
res_ques.head()

,@RELQ_CATEGORY,@RELQ_DATE,@RELQ_ID,@RELQ_USERID,@RELQ_USERNAME,RelQBody,RelQSubject
0,Moving to Qatar,2013-07-31 02:27:08,Q268_R16,U5151,shehabi,Hi ti all QL's; What bank you are using? and w...,Best Bank.

In [34]:
res_ans.head()

,@RELC_DATE,@RELC_ID,@RELC_RELEVANCE2RELQ,@RELC_USERID,@RELC_USERNAME,RelCText
0,2013-07-31 06:46:39,Q268_R16_C1,Bad,U65,Molten Metal,banks are using us ... Talk to those who had t...
1,2013-07-31 08:10:53,Q268_R16_C2,Bad,U956,Rip Cord,In Qatar that is like saying which is the best...
2,2013-07-31 10:37:03,Q268_R16_C3,Bad,U5152,arman1arzoo,I'm surprised to see such feedbacks on Qatar b...
3,2013-08-01 11:38:21,Q268_R16_C4,Good,U5153,westernindoha,Well Arman; nothing is wrong here with banks; ...
4,2013-08-01 11:45:49,Q268_R16_C5,Good,U492,happygolucky,With QNB for last 4 years plus...no issues...g...

In [37]:
res_fil = result[ result['@THREAD_SEQUENCE'] == 'Q269_R3' ]
res_ans = json_normalize(res_fil['RelComment'][1])
res_ques = json_normalize(res_fil['RelQuestion'][1])

In [38]:
res_ans.head()

,@RELC_DATE,@RELC_ID,@RELC_RELEVANCE2RELQ,@RELC_USERID,@RELC_USERNAME,RelCText
0,2007-03-27 17:11:34,Q269_R3_C1,Bad,U2984,lzxcoco,dun u know there is no green above water ?????...
1,2007-03-27 22:20:38,Q269_R3_C2,Good,U431,King Edshel,I was catching fish before on corniche and if ...
2,2007-03-28 01:00:26,Q269_R3_C3,Bad,U5154,Husam Abonaadj,you now i will try to go to Dokhan this time e...
3,2007-04-26 19:21:20,Q269_R3_C4,Good,U5155,Platini,Well guys I am no fishing fanatic.. but those ...
4,2007-05-01 11:19:36,Q269_R3_C5,Good,U1072,digital,Ummsaid was good b4 sometime .. but now a days...

In [39]:
res_ques.head()

,@RELQ_CATEGORY,@RELQ_DATE,@RELQ_ID,@RELQ_USERID,@RELQ_USERNAME,RelQBody,RelQSubject
0,Sightseeing and Tourist attractions,2007-03-27 14:56:42,Q269_R3,U5154,Husam Abonaadj,I really would like to know where the best pla...,Where is the best place to catch fish in Qatar ?